{% extends 'base.html.twig' %}

{% block title %}List Dispatch{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 dropzone d-flex flex-column align-items-center border" data-id={{ list.id }}>
                <h2 class="text-center">Liste</h2>
                {% for dish in list.dishes %}
                    <p class="bg-{{dish.category == "entrée"? "success":"primary"}} text-white px-3 py-1 rounded-pill"
                       data-id={{ dish.id }}
                       data-origin-id="0"
                       data-destination-id="0"
                        draggable="true">
                        {{ dish.name }}
                    </p>
                {% endfor %}
            </div>
            <div class="col-6">
                <h2 class="text-center">Jours</h2>
                {% for day in days %}
                    <div class="border">
                        <h3>
                            {{ day.date|date("d/m/y") }}
                        </h3>
                        <div>
                            {%  for meal in day.meals %}
                            <div class=" dropzone d-flex flex-column align-items-center border" data-id={{ meal.id }}>
                                <h4>{{ meal.period }}</h4>
                                {% for dish in meal.dishes %}
                                    <p class="bg-{{dish.category == "entrée"? "success":"primary"}} text-white px-3 py-1 rounded-pill"
                                       draggable="true">
                                        {{ dish.name }}
                                    </p>
                                {% endfor %}
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
